<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Town Hall 9<br />
  </h1>
  
</div>
<div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe class="video" id="backgroundVideo" frameborder="0" height="100%" width="100%" 
    src="https://www.youtube.com/embed/guza35tj3Mg?autoplay=1&controls=0&showinfo=0&autohide=1&mute=1">
  </iframe>
</div>
 <button md-raised-button color="primary">Click here to display our current town hall 9s</button><br />
 <label>{{member.name}}</label><br />
 <label>{{member.rank}}</label><br />
 <label>{{member.warStars}}</label><br />